<app-card title="Usuários">

  <a href="/usuario/form" class="btn btn-success">Novo</a>

  <table datatable class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th>Dt. Nascimento</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario.id}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.telefone}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.data_nascimento}}</td>
    </tr>
    </tbody>
  </table>
</app-card>
