<div class="form-group row">
  <label for="myinput" class="col-sm-2 form-control-label">
    {{title}}
    <span style="color: #f00;" *ngIf="required">*</span>
  </label>
  <div class="col-sm-10">
    <input id="myinput"
           name="myinput"
           nbInput
           fieldSize="{{fieldSize}}"
           fullWidth
           class="form-control"
           required="{{required}}"
           [(ngModel)]="value" #myinput="ngModel"
    >
    <div *ngIf="myinput.invalid && (myinput.dirty || myinput.touched)" class="alert alert-danger">
      <div *ngIf="myinput.errors.required">{{title}} é obrigatório.</div>
    </div>
  </div>
</div>
